# =========================
# Java build output
# =========================
*.class
*.log
target/
build/
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Eclipse workspace local-only
# =========================
.metadata/
Servers/

# =========================
# Optional local libraries
# =========================
# day2Prac/src/main/webapp/WEB-INF/lib/ojdbc8.jar
**/ojdbc8.jar
**/teacher.jar

**/WEB-INF/lib/*.jar


**/.settings/org.eclipse.core.resources.prefs

*.txt
**/.settings/.jsdtscope
**/.settings/org.eclipse.wst.jsdt.ui.superType.container
**/.settings/org.eclipse.wst.jsdt.ui.superType.name


